@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --color-bg: #001219;
  --color-accent-sub: rgb(63, 160, 225);
  --color-accent: rgb(81, 202, 243);
}

body {
  margin: 0;
}

.content {
  display: flex;
}

.content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 35vw;
  background-image: url("images/city.jpg");
  background-size: cover;
}

.img-banner {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

  height: 100px;
  width: 100%;
  position: absolute;

  background-color: rgba(10, 10, 10, 0.78);
  color: white;

  font-family: 'Poppins';
  font-size: clamp(1.5rem, 4vw, 2.4rem);
  font-weight: bold;
}

.content-right {
  background-color: var(--color-bg);
  color: white;
  box-sizing: border-box;

  border-top-style: solid;
  border-width: 8px;

  flex: 1;
  height: 100vh;
  /* there has to be a better way than 100vh, it requires the @media at the bottom */
}

.with-gradient {
  border-image: linear-gradient(90deg, var(--color-accent-sub), var(--color-accent), var(--color-accent-sub)) 1;
}

.header {
  font-family: 'lato';
  font-size: 1.3rem;
  padding: 4rem;
}

.form-container {
  background-color: #021e29;
  margin: 0px 30px;
  padding: 15px 20px;
  box-shadow: rgba(88, 88, 122, 0.65) 0px 0px 18px;
  border-radius: 8px;
  border-left: 8px solid var(--color-accent);
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 5%;
  font-family: 'Montserrat';
}

legend {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.4rem;
  padding-bottom: 15px;
}

.form-container div {
  width: 40%;
  display: flex;
  flex-direction: column;
}



input {
  background-color: #011118;
  color: white;
}


.btn-container {
  padding: 2rem 4rem;
  font-family: 'Montserrat';
}

button {
  font-family: 'Montserrat';
  font-size: 1.2em;
  font-weight: bold;

  padding: 5px;
  
  background-color: var(--color-accent);
  color: var(--color-bg);

  border: var(--color-accent) solid 3px;
  border-radius: 2px;
}

button:hover {
  background-color: var(--color-bg);
  color: var(--color-accent);
}



p:first-of-type {
  font-size: 1.1em;
}

a:link {
  color: lightblue;
}

a:visited{
  color: rgb(77, 77, 235);
}

::selection {
  background-color: lightcyan;
  color: darkcyan
}




@media only screen and (max-width: 700px) {
  .content {
    flex-direction: column;
    height: auto;
  }

  .content-left {
    width: 100%;
    height: 200px;
    background-size: 100%;
    background-position: 0px -300px;
  }

  .header {
    text-align: center;
  }

  .img-banner {
    width: 100%;
    top: 50px;
  }

  .form-container {
    border-top: 8px solid var(--color-accent);
    border-left: none;
  }

  .form-container div {
    width: 98%;
    text-align: center;
  }

  legend {
    text-align: center;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* using this because there's white space if I don't */
@media only screen and (max-height: 740px) {
  .content-right {
    height: auto;
  }
}